<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.akwei.ohmybatis.example.mappers.VoteItemMapper">
    <select id="getByVoteItemId2" resultType="info.akwei.ohmybatis.example.entity.VoteItem">
        select * from tb_vote_item where vote_item_id=#{voteItemId}
    </select>
    <select id="getMapInIds" resultType="info.akwei.ohmybatis.example.entity.VoteItem">
        select * from tb_vote_item where vote_item_id in (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </select>
</mapper>