<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="com.github.akwei.ohmybatis.example"/>
    <mybatis:scan base-package="com.github.akwei.ohmybatis.example.mappers"/>
    <tx:annotation-driven proxy-target-class="true"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <property name="username" value="root"/>
        <property name="password" value="asdasd"/>
        <property name="jdbcUrl"
                  value="jdbc:mysql://127.0.0.1:3306/db_ohmybatis?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="minimumIdle" value="2"/>
        <property name="maximumPoolSize" value="2"/>
    </bean>
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="configuration" class="com.github.akwei.ohmybatis.OhMyConfiguration">
        <property name="mapUnderscoreToCamelCase" value="true"/>
        <property name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
    </bean>
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configuration" ref="configuration"/>
        <property name="mapperLocations" value="classpath*:mappers/*-mapper.xml"/>
    </bean>
    <bean class="com.github.akwei.ohmybatis.IMapperFactory"/>
</beans>